body{
    height: 100vh;
    width: 100%;
    margin:0;
}
header{
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}
.nav-div{
    align-items: center;
    
}
ul{
    list-style-type: none;
}
ul li{
    display: inline;
    padding: 10px;
}
ul li:hover{
    color: yellow;
    font-weight: 600;
}
div h4{
    display: inline;
    padding: 10px;
    margin-right: 10px;
    align-items: center;
}
.first-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}
.first-section-image{
    width:30%;
    padding: 30px;
}
.main-image{
    border-radius: 10%;
    
}
.first-section-data{
    width: 70%;
    padding:50px;
}
/*.second-section main{
    margin: auto;
    display:block;
    border-radius: 10%;
    justify-content: center;
    align-content: center;
}*/
.second-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.second-section img {
    /*margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;*/
    border-radius: 7px;
   /*padding: 10px;*/
}
.second-section-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.second-section-text p{
    position: relative;
    max-width: 120px;
    text-align: left;
}
.third-section{
    background-color: #E5E7EB;
    margin: 50px;
    padding: 120px;
    /*height: 13rem; */
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937
}
.fourth-section{
    background-color: #3882f6;
    margin-left: 180px;
    margin-right: 180px;
    padding: 40px; 
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
    font-size: 18px;
}
.fourth-section-data{
    width:60%;
}
button{
    background-color: #3882f6;
    color: white;
    width: 110px;
    border-radius: 4px;
    padding: 4px;
}
#newsletter-button{
    border: 1px solid white;
}
footer{
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
    font: 18px;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}
.first-section p{
    font-size: 18px;
}
button:hover{
    background-color: #4a638b;
}
img {
    width:300px;
    height:400px;
    border-radius: 12px;
    margin: 10px;
  }